{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<div class="container py-5 text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
    <tbody>
                {% if shares %}
                    {% for share in shares %}
                        <tr>
                            <td class="text-start">{{ share.symbol }}</td>
                            <td class="text-start">{{ share.name }}</td>
                            <td class="text-end">{{ share.noshares }}</td>
                            <td class="text-end">{{ share.price }}</td>
                            <td class="text-end">{{ share.total }}</td>
                        </tr>
                        {% endfor %}
                {% endif %}
        </tbody>
        <tfoot>
            {% if other %}
                {% for others in other %}
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end">{{ others.cash }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                    <td class="border-0 w-bold text-end">{{ others.total }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tfoot>
    </table>
</div>
{% endblock %}